<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleSheet.css">
    <title>Gamestudio</title>
</head>
<body>

<div class="loginButtons" th:if="${@userController.logged}">
    <h3 style="margin-right: 10px">Logged in as: <i id="username" th:text="${@userController.loggedUser.username}"></i></h3>
    <a href="/logicmazes/logout"><button class="menuButtonSmall">Sign Out</button></a>
</div>

<div class="loginButtons" th:if="${!@userController.logged}">
    <a href="/logicmazes/login" style="margin-right: 10px"><button class="menuButtonSmall">Sign In</button></a>
    <a href="/logicmazes/register"><button class="menuButtonSmall">Sign Up</button></a>
</div>

<div id="flexContainerCentered">
    <h1>Logic Mazes</h1>
    <h2>Comments</h2>

    <div class="containerWithBackground" id="commentsField">
        <div class="commentsContainer" th:each="comment : ${comments}">
            <p th:text="${comment.comment}" style="font-size: 20px"></p>

            <div style="display: flex">
                <i style="margin-right: 5px">by</i>
                <i th:text="${comment.name}" style="margin-right: 5px"></i>
                <i style="margin-right: 5px">on</i>
                <i th:text="${comment.date}"></i>
            </div>
            <hr>
        </div>
    </div>

    <div class="containerWithBackground hiddenElement" id="commentFormContainer">
        <h3>Submit a comment</h3>
        <form id="commentForm">
            <input th:if="${@userController.logged}" type="hidden" name="playerName" th:value="${@userController.loggedUser.username}">
            <div style="margin-bottom: 15px">
                <label for="commentText">Enter comment:</label><br>
                <textarea name="commentText" id="commentText" cols="50" rows="5"
                          placeholder="Comment goes here..." required></textarea>
            </div>
            <button type="submit" class='menuButton'>Submit</button>
        </form>
    </div>

    <ul id="menuList">
        <li>
            <button th:if="${@userController.logged}" class='menuButton' id="submitButton" onclick="show()">Submit comment</button>
        </li>
        <li>
            <button class='menuButton hiddenElement' id="cancelButton" onclick="hide()">Cancel</button>
        </li>
        <li><a href='/logicmazes'>
            <button class='menuButton backButton'><< Back to menu</button>
        </a></li>
    </ul>
</div>

<script>
    function show() {
        document.getElementById("commentsField").style.marginBottom = "16px";
        document.getElementById("commentFormContainer").classList.remove("hiddenElement");
        document.getElementById("cancelButton").classList.remove("hiddenElement");
        document.getElementById("submitButton").classList.add("hiddenElement");
    }

    function hide() {
        document.getElementById("commentsField").style.marginBottom = 0;
        document.getElementById("commentFormContainer").classList.add("hiddenElement");
        document.getElementById("cancelButton").classList.add("hiddenElement");
        document.getElementById("submitButton").classList.remove("hiddenElement");
    }
</script>

</body>
</html>