<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleSheet.css">
    <title>Gamestudio</title>
</head>
<body>

<div class="loginButtons" th:if="${@userController.logged}">
    <h3 style="margin-right: 10px">Logged in as: <i id="username" th:text="${@userController.loggedUser.username}"></i></h3>
    <a href="/logicmazes/logout"><button class="menuButtonSmall">Sign Out</button></a>
</div>

<div class="loginButtons" th:if="${!@userController.logged}">
    <a href="/logicmazes/login" style="margin-right: 10px"><button class="menuButtonSmall">Sign In</button></a>
    <a href="/logicmazes/register"><button class="menuButtonSmall">Sign Up</button></a>
</div>

<div id="flexContainerCentered">
    <h1>Logic Mazes</h1>
    <h2>Top scores</h2>

    <div class="containerWithBackground">
        <table id="topScoresTable">
            <tr id="tableHeader">
                <td><b>Player Name</b></td>
                <td><b>Score</b></td>
            </tr>
            <tr th:each="score : ${scores}">
                <td th:text="${score.player}"></td>
                <td th:text="${score.points}"></td>
            </tr>
        </table>
    </div>

    <ul id="menuList">
        <li><a href='/logicmazes'><button class='menuButton backButton'><< Back to menu</button></a></li>
    </ul>
</div>


</body>
</html>