<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleSheet.css">
    <title>Gamestudio</title>
</head>
<body>

<div id="flexContainerCentered">
    <h1>Logic Mazes</h1>
    <ul id="menuList">
        <li><a href="/logicmazes/levelselect"><button class="menuButton">Start Game</button></a></li>
        <li><a href="#"><button class="menuButton">button 2</button></a></li>
        <li><a href="#"><button class="menuButton">button 3</button></a></li>
    </ul>
</div>


</body>
</html>